@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}


.this_day_conteiner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.footer_div {

}


@media (max-width:620px) {
    .this_day_conteiner {
        display: flex;
        width: 90%;
        flex-direction: column;
    }

    .this_day_conteiner:first-child {
        margin-bottom: 30px;
    }
}
.footer_div {

}


@media (max-width:620px) {
    .this_day_conteiner {
        display: flex;
        width: 90%;
        flex-direction: column;
    }

    .this_day_conteiner:first-child {
        margin-bottom: 30px;
    }
}