header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.wrapper {
    display: flex;
    align-items: center;

}

.logo, 
.change_theme {
    margin-right: 20px;
} 

.change_theme {
    display: none;
}

.title {
    font-size: 25px;
    color: #4793FF;
    text-transform: uppercase;
    font-weight: bold;


}

@media (max-width:1190px) {
    .logo {
        padding-left: 10px;
    }
    
}

@media (max-width: 600px) {
    .title {
        display: none;
    }
}